

body
{
background-color:#e3e8ef;
font-family: 'Monofett', cursive;	
margin:0 !important;	
	
}


.logo
{
font-size:40px;	
color:white;	
border:3px solid white;
width:300px;
margin-left:auto;	
margin-right:auto;
text-align:center;	
background-color: #394e8c;
border-radius:7%;
}

.p
{
margin-left:68px;	
margin-top:10px;

background-color:white;	
}

.l1
{
padding:20px;	

background-color:white;
margin-left:auto;
margin-right:auto;

}

.socials
{
border:3px solid black;	
width:100px;	
}


nav
{
text-align:center;	

}


ol
{
	
list-style-type:none;
font-size:25px;
display:inline-block;
padding:0px;
margin:0px;
margin-top:20px;
font-family: 'Titillium Web', sans-serif;
}

ol>li
{
float:left;
background-color:white;	
width:200px;
margin-right:5px;
height:70px;	
transition:transform 0.2s ease-in-out;
text-align:center;
line-height:250%;
border-radius:7px;
}


ol>li:hover
{
background-color:#d5e4ed;
transform:rotate(1deg);
}


ol>li>a
{
text-decoration:none;	
display:block;
width:200px;
height:70px;	
color: #347faf;
}

a:link
{
color: #347faf;	
	
}

.menu
{

margin:0px;
height:110px;
background-color:white;
margin-top:5px;	

}


.container
{
font-size:25px;
font-family: 'Titillium Web', sans-serif;
background-color:#e3e8ef;
width:954px;	
margin-left:auto;
margin-right:auto;
margin-top:20px;
padding:0px 20px;	
border-radius:7%;	
text-align:justify;
}

h2
{
	font-size:30px;
	text-align:center;
}


#slajder1
{
height:150px;
width:700px;	
border:3px solid black;
margin-left:auto;
margin-right:auto;
margin-top:10px;
	
}

.box
{
margin-left:auto;
margin-right:auto;	
width:710px;
height:160px;	
}

.socials
{
width:1000px;
margin-left:auto;
margin-right:auto;
margin-top:20px;
color:white;
border:none;
}

.fb
{
float:left;
width:250px;	
height:70px;	
text-align:center;	
}
.tw
{
float:left;
width:250px;	
height:70px;	
text-align:center;		
}

.yt
{
float:left;
width:250px;	
height:70px;	
text-align:center;		
}
.gplus
{
float:left;
width:250px;	
height:70px;	
text-align:center;		
}


.fb:hover
{
background-color:#3b5998;	
	
}
.tw:hover
{
background-color:#0084b4;	
	
}
.yt:hover
{
background-color:#c4302b;	
	
}
.gplus:hover
{
background-color: #d34836;	
	
}


.info
{
font-size:25px;
text-align:center;
font-family: 'Titillium Web', sans-serif;	
margin-top:30px;	
background-color:#81b1f4;
}

a.s
{
color:white;	
	
}